<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>项目总览</title>
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <link rel="stylesheet" href="/SKYWORTH_PMS/iframe/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/SKYWORTH_PMS/iframe/assets/module/admin.css?v=312"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>

        ul {
            display: inline;
        }

        ul > li {
            line-height: 24px;
        }

    </style>
</head>
<body>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">项目机型分解包查询</div>
        <div class="layui-card-body">
            <div class="layui-form toolbar" id="toolbarShow">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">项目选择：</label>
                        <div class="layui-input-inline mr0">
                            <select id="xiangmuxuanze" name="xiangmuxuanze" lay-filter="xiangmuxuanze"
                                    lay-verType="tips" lay-verify="required">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">机型选择：</label>
                        <div class="layui-input-inline mr0">
                            <select id="jixingxuanze" name="jixingxuanze" lay-filter="jixingxuanze"
                                    lay-verType="tips" lay-verify="required">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="layui-inline" style="margin-left: 6px">
                        <button class="layui-btn icon-btn" lay-filter="formSubSearchMachine" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>-->
                </div>
            </div>

            <!--            橙色标签线-->
            <hr class="layui-bg-black">

            <!--            vue-->
            <div id="app" style="margin-top: 20px" class="layui-hide">
                <template>
                    <Steps :current="current" status="error">
                        <Step :title="item.name" v-for="item in datass" icon="ios-cog" content="请指派人员"></Step>
                    </Steps>
                </template>
                <template>
                    <Row type="flex" justify="space-between" class="code-row-bg">
                        <i-col span="4" v-for="(item,index) in datass" style="border: 1px solid red;">
                            <template v-for="(li,index2) in arrayzl" v-if="index === index2">
                                <ul>
                                    <li v-for="(item1,i) in li.yvan">{{item1.name}}</li>
                                </ul>
                            </template>
                        </i-col>
                    </Row>
                </template>
                <!--&lt;!&ndash; 项目审核节点任务循环 &ndash;&gt;
                <template v-if="txiangmushenhe">
                    <ul>
                        <li v-for="item in xiangmushenhe">{{item.name}}</li>
                    </ul>
                </template>
                &lt;!&ndash; EVT &ndash;&gt;
                <template v-if="tEVT">
                    <ul>
                        <li v-for="item in EVT">{{item.name}}</li>
                    </ul>
                </template>
                &lt;!&ndash; DVT &ndash;&gt;
                <template v-if="tDVT">
                    <ul>
                        <li v-for="item in DVT">{{item.name}}</li>
                    </ul>
                </template>
                &lt;!&ndash; PVT &ndash;&gt;
                <template v-if="tPVT">
                    <ul>
                        <li v-for="item in PVT">{{item.name}}</li>
                    </ul>
                </template>
                &lt;!&ndash; PMP &ndash;&gt;
                <template v-if="tPMP">
                    <ul>
                        <li v-for="item in PMP">{{item.name}}</li>
                    </ul>
                </template>
                &lt;!&ndash; MP &ndash;&gt;
                <template v-if="tMP">
                    <ul>
                        <li v-for="item in MP">{{item.name}}</li>
                    </ul>
                </template>-->
            </div>
        </div>
    </div>
</div>

<!-- js部分 -->
<script type="text/javascript" src="/SKYWORTH_PMS/iframe/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/SKYWORTH_PMS/iframe/assets/js/jquery-2.2.4.min.js"></script>
<script src="/SKYWORTH_PMS/iframe/assets/libs/vue/vue.js"></script>
<script src="//unpkg.com/iview/dist/iview.min.js"></script>
<script type="text/javascript" src="/SKYWORTH_PMS/iframe/assets/js/common.js?v=312"></script>
<script type="text/javascript" src="/SKYWORTH_PMS/iframe/assets/js/util.js"></script>
<script type="text/javascript" src="/SKYWORTH_PMS/iframe/assets/js/api.js"></script>

<!--自定义js-->
<script>
    var vm;
    $(function () {
        vm = new Vue({
            el: '#app',
            data: {
                datass: [],
                current: 3,
                choice: 1,
                xiangmushenhe: {},
                EVT: {},
                DVT: {},
                PVT: {},
                PMP: {},
                MP: {},
                arrayzl: [],
                txiangmushenhe: true,
                tEVT: false,
                tDVT: false,
                tPVT: false,
                tPMP: false,
                tMP: false,

            },
            methods: {}
        })
    })
</script>
<script>
    layui.use(['layer', 'form', 'table', 'laydate', 'admin', 'index', 'jquery', 'steps'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var admin = layui.admin;
        var index = layui.index;

        // 项目选择下拉框渲染
        api.project.getList({}, function (e) {
            console.log(e);
            for (var i = 0; i < e.length; i++) {
                var xiangmuxuanze = $("#xiangmuxuanze");
                xiangmuxuanze.append("<option value='" + e[i].name + "'>" + e[i].name + "</option>");
            }
            form.render();
        });

        // 机型选择下拉框渲染
        var blId = null; // 项目选择索引值 -- 给submit用
        form.on('select(xiangmuxuanze)', function (data) {
            console.log(data.value); //得到被选中的值
            var index = $(data.elem).find("option:selected").index() - 1; // 获取选中的项目选择的index索引值
            api.project.getList({}, function (res) {
                var projectId = res[index].id; // 获取选择项目的id
                blId = projectId;
                console.log(projectId);
                api.machine.getListByProject({projectId: projectId}, function (e) { // 根据项目id请求子项目
                    console.log(e);
                    var jixingxuanze = $("#jixingxuanze");
                    jixingxuanze.empty();
                    jixingxuanze.append("<option value=''>请选择</option>");
                    for (var i = 0; i < e.length; i++) {
                        jixingxuanze.append("<option value='" + e[i].machinname + "'>" + e[i].machinname + "</option>");
                    }
                    form.render();
                });
            });
        });

        vm.xiangmushenhe.yvan = [];
        vm.EVT.yvan = [];
        vm.PVT.yvan = [];
        vm.DVT.yvan = [];
        vm.PMP.yvan = [];
        vm.MP.yvan = [];

        api.node.getWorkNodes({projecttype: 1}, function (res) { // projecttype : 项目类别
            console.log(res);
            for (var i = 0; i < res.length; i++) {
                if (res[i].name == "项目审核") {
                    for (var j = 0; j < res[0].nodeTasks.length; j++) {
                        var xiangmushenheobj = {};
                        xiangmushenheobj.name = res[0].nodeTasks[j].title;
                        vm.xiangmushenhe.yvan.push(xiangmushenheobj);
                    }
                } else if (res[i].name == "EVT") {
                    for (var j = 0; j < res[i].nodeTasks.length; j++) {
                        var evtobj = {};
                        evtobj.name = res[i].nodeTasks[j].title;
                        vm.EVT.yvan.push(evtobj);
                    }
                } else if (res[i].name == "PVT") {
                    for (var j = 0; j < res[i].nodeTasks.length; j++) {
                        var pvtobj = {};
                        pvtobj.name = res[i].nodeTasks[j].title;
                        vm.PVT.yvan.push(pvtobj);
                    }
                } else if (res[i].name == "DVT") {
                    for (var j = 0; j < res[i].nodeTasks.length; j++) {
                        var dvtobj = {};
                        dvtobj.name = res[i].nodeTasks[j].title;
                        vm.DVT.yvan.push(dvtobj);
                    }
                } else if (res[i].name == "PMP") {
                    for (var j = 0; j < res[i].nodeTasks.length; j++) {
                        var pmpobj = {};
                        pmpobj.name = res[i].nodeTasks[j].title;
                        vm.PMP.yvan.push(pmpobj);
                    }
                } else if (res[i].name == "MP") {
                    for (var j = 0; j < res[i].nodeTasks.length; j++) {
                        var mpobj = {};
                        mpobj.name = res[i].nodeTasks[j].title;
                        vm.MP.yvan.push(mpobj);
                    }
                }
            }
        });

        // 机型选择下拉框监听事件
        form.on('select(jixingxuanze)', function (data) {
            vm.arrayzl = [];
            vm.arrayzl.push(vm.xiangmushenhe);
            console.log(data.value); //得到被选中的值
            var bllId = $(data.elem).find("option:selected").index() - 1; // 机型选择索引值
            console.log(bllId);
            // 步骤条显示和隐藏
            if (data.value) {
                $("#app").removeClass("layui-hide");
            } else {
                $("#app").addClass("layui-hide");
            }
            api.machine.getListByProject({projectId: blId}, function (e) { // 根据项目id请求子项目
                console.log(e);
                vm.datass = [{name: "项目审核"}]
                // 动态添加步骤条
                for (var j = 0; j < e[bllId].machineDetail.length; j++) {
                    var fenjiebaoobj = {};
                    if (e[bllId].machineDetail[j].milepost == 1) {
                        fenjiebaoobj.name = "EVT";
                        vm.datass.push(fenjiebaoobj);
                        vm.tEVT = true;
                        vm.arrayzl.push(vm.EVT);
                        continue;
                    } else if (e[bllId].machineDetail[j].milepost == 2) {
                        fenjiebaoobj.name = "DVT";
                        vm.datass.push(fenjiebaoobj);
                        vm.tDVT = true;
                        vm.arrayzl.push(vm.DVT);
                        continue;
                    } else if (e[bllId].machineDetail[j].milepost == 3) {
                        fenjiebaoobj.name = "PVT";
                        vm.datass.push(fenjiebaoobj);
                        vm.tPVT = true;
                        vm.arrayzl.push(vm.PVT);
                        continue;
                    } else if (e[bllId].machineDetail[j].milepost == 4) {
                        fenjiebaoobj.name = "PMP";
                        vm.datass.push(fenjiebaoobj);
                        vm.tPMP = true;
                        vm.arrayzl.push(vm.PMP);
                        continue;
                    } else if (e[bllId].machineDetail[j].milepost == 5) {
                        fenjiebaoobj.name = "MP";
                        vm.datass.push(fenjiebaoobj);
                        vm.tMP = true;
                        vm.arrayzl.push(vm.MP);
                        continue;
                    }
                }
            });
            console.log(vm.arrayzl);
        });

        // 监听搜索事件提交
        form.on('submit(formSubSearchMachine)', function (data) {
            console.log(data);
            console.log(data.field);
            return false;
        });
    });
</script>

</body>

</html>