<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>项目总览</title>

<!--    iview-css-->
    <link rel="stylesheet" href="/SKYWORTH_PMS/iframe/assets/libs/iview/iview.css"/>

<!--    iview-icon-->
    <link href="https://cdn.bootcss.com/ionicons/4.0.0-2/css/ionicons.css" rel="stylesheet">

<!--    iview-bootcdn-->
<!--    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">-->

<!--    layui-css-->
    <link rel="stylesheet" href="/SKYWORTH_PMS/iframe/assets/libs/layui/css/layui.css"/>

<!--    admin-css-->
    <link rel="stylesheet" href="/SKYWORTH_PMS/iframe/assets/module/admin.css?v=312"/>


    <style>

        body{
            font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;;
        }
        ul {
            display: inline;
        }

        ul > li {
            line-height: 24px;
        }

        #app li > a {
            /*border: 1px solid #ddd;*/
            /*background: #edc;*/
            width: 247px;
            margin: 10px 0px;
            padding: 0px 3px;
            /*border-radius: 3px;*/
            display: inline-block;
            font-size: 8px;
            height: 28px;
            line-height: 28px;
        }

    </style>
</head>
<body>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">项目机型分解包设置</div>
        <div class="layui-card-body">
            <div class="layui-form toolbar" id="toolbarShow">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">项目选择：</label>
                        <div class="layui-input-inline mr0">
                            <select id="xiangmuxuanze" name="xiangmuxuanze" lay-filter="xiangmuxuanze">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">机型选择：</label>
                        <div class="layui-input-inline mr0">
                            <select id="jixingxuanze" name="jixingxuanze" lay-filter="jixingxuanze">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-left: 6px">
                        <button class="layui-btn icon-btn" lay-filter="formAddTasknodes" lay-submit>
                            <i class="layui-icon">&#xe6c6;</i>提交保存
                        </button>
                    </div>
                    <div class="layui-inline" style="margin-left: 6px">
                        <button class="layui-btn icon-btn" lay-filter="formReflash" lay-submit>
                            <i class="layui-icon">&#xe669;</i>刷新显示
                        </button>
                    </div>
                </div>
            </div>

            <!--            橙色标签线-->
            <hr class="layui-bg-black">

            <!--            vue-->
            <div id="app" style="margin-top: 20px" class="layui-hide">
                <template>
                    <Steps :current="current" status="error">
                        <Step :title="item.name" v-for="item in fenjiebao" icon="ios-cog" content="请指派人员"></Step>
                    </Steps>
                </template>
                <template>
                    <Row type="flex" justify="space-between" class="code-row-bg">
                        <i-col span="4" v-for="(item,index) in fenjiebao">
                            <template>
                                <ul>
                                    <li v-for="(item1,i) in item.yvan">
                                        <a href="#">
                                            <Row type="flex">
                                                <i-col span="16" style="border: 1px solid #dddddd;background: #286077; border-radius: 3px; color: #FFF;"><span style="margin-left: 5px">{{item1.name}}</span></i-col>
                                                <i-col span="8">
                                                    <span>
                                                        <i-select @on-change="change" :label-in-value="true" :v-model="item1.name">
                                                            <i-option v-for="item in person" :value="item1.name"
                                                              :key="item.label" :label="item.label"></i-option>
                                                        </i-select>
                                                    </span>
                                                </i-col>
                                            </Row>
                                        </a>
                                    </li>
                                </ul>
                            </template>
                        </i-col>
                    </Row>
                </template>
            </div>
        </div>
    </div>
</div>

<!-- js部分 -->
<script type="text/javascript" src="/SKYWORTH_PMS/iframe/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/SKYWORTH_PMS/iframe/assets/js/jquery-2.2.4.min.js"></script>
<script src="/SKYWORTH_PMS/iframe/assets/libs/vue/vue.js"></script>
<!--<script src="//unpkg.com/iview/dist/iview.min.js"></script>-->
<script type="text/javascript" src="/SKYWORTH_PMS/iframe/assets/libs/iview/iview.js"></script>
<script type="text/javascript" src="/SKYWORTH_PMS/iframe/assets/js/common.js?v=312"></script>
<script type="text/javascript" src="/SKYWORTH_PMS/iframe/assets/js/util.js"></script>
<script type="text/javascript" src="/SKYWORTH_PMS/iframe/assets/js/api.js"></script>

<!--自定义js-->
<script>
    var vm;
    var dutyname;
    $(function () {
        vm = new Vue({
            el: '#app',
            data: {
                fenjiebao: [],
                current: 5,
                choice: 1,
                person: [],
                sss:''
            },
            methods: {
                change:function(res){
                    console.log(res);
                },
            }
        })
    })
</script>
<script>
    layui.use(['layer', 'form', 'table', 'laydate', 'admin', 'index', 'jquery'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var admin = layui.admin;
        var index = layui.index;

        // 项目选择下拉框渲染
        api.project.getList({}, function (e) {
            console.log(e);
            for (var i = 0; i < e.length; i++) {
                var xiangmuxuanze = $("#xiangmuxuanze");
                xiangmuxuanze.append("<option value='" + e[i].name + "'>" + e[i].name + "</option>");
            }
            form.render();
        });

        // 机型选择下拉框渲染
        var blId = null; // 项目ID
        var machineid = null; // 机型ID
        form.on('select(xiangmuxuanze)', function (data) {
            vm.person = []; // 清空原来的person里面的数据
            console.log(data.value); //得到被选中的值
            var index = $(data.elem).find("option:selected").index() - 1; // 获取选中的项目选择的index索引值
            api.project.getList({}, function (res) {
                var projectId = res[index].id; // 获取选择项目的id
                blId = projectId;
                console.log(projectId);
                api.machine.getListByProject({projectId: projectId}, function (e) { // 根据项目id请求子项目
                    console.log(e);
                    var jixingxuanze = $("#jixingxuanze");
                    jixingxuanze.empty();
                    jixingxuanze.append("<option value=''>请选择</option>");
                    for (var i = 0; i < e.length; i++) {
                        jixingxuanze.append("<option value='" + e[i].machinname + "'>" + e[i].machinname + "</option>");
                    }
                    form.render();
                });
                // 添加人员数据到vue-data
                api.project.getPerson({projectid:blId},function (e) {
                    console.log(e);
                    for (var i = 0; i < e.length; i++) {
                        var personobj = {};
                        personobj.personid = e[i].person;
                        personobj.label = e[i].personname;
                        vm.person.push(personobj);
                    }
                    console.log(vm.person);
                })
            });
        });

        // 机型选择下拉框监听事件
        form.on('select(jixingxuanze)', function (data) {
            console.log(data.value); //得到被选中的值
            var bllId = $(data.elem).find("option:selected").index() - 1; // 机型选择索引值
            console.log(bllId);
            // 步骤条显示和隐藏
            if (data.value) {
                $("#app").removeClass("layui-hide");
            } else {
                $("#app").addClass("layui-hide");
            }
            api.machine.getListByProject({projectId: blId}, function (e) { // 根据项目id请求子项目
                console.log(e);
                machineid = e[bllId].id;
                console.log(machineid);
                vm.fenjiebao = [{name: "项目审核", yvan: []}];
                // 动态添加步骤条
                for (var j = 0; j < e[bllId].machineDetail.length; j++) {
                    var fenjiebaoobj = {};
                    fenjiebaoobj.yvan = [];
                    if (e[bllId].machineDetail[j].milepost == 1) {
                        fenjiebaoobj.name = "EVT";
                        vm.fenjiebao.push(fenjiebaoobj);
                        var indexi = vm.fenjiebao.length - 1;
                        addyvan(indexi, "EVT");
                        continue;
                    } else if (e[bllId].machineDetail[j].milepost == 2) {
                        fenjiebaoobj.name = "DVT";
                        vm.fenjiebao.push(fenjiebaoobj);
                        var indexi = vm.fenjiebao.length - 1;
                        addyvan(indexi, "DVT");
                        continue;
                    } else if (e[bllId].machineDetail[j].milepost == 3) {
                        fenjiebaoobj.name = "PVT";
                        vm.fenjiebao.push(fenjiebaoobj);
                        var indexi = vm.fenjiebao.length - 1;
                        addyvan(indexi, "PVT");
                        continue;
                    } else if (e[bllId].machineDetail[j].milepost == 4) {
                        fenjiebaoobj.name = "PMP";
                        vm.fenjiebao.push(fenjiebaoobj);
                        var indexi = vm.fenjiebao.length - 1;
                        addyvan(indexi, "PMP");
                        continue;
                    } else if (e[bllId].machineDetail[j].milepost == 5) {
                        fenjiebaoobj.name = "MP";
                        vm.fenjiebao.push(fenjiebaoobj);
                        var indexi = vm.fenjiebao.length - 1;
                        addyvan(indexi, "MP");
                        continue;
                    }
                }
            });
            api.node.getWorkNodes({projecttype: 1}, function (res) { // projecttype : 项目类别
                console.log(res);
                for (var i = 0; i < res.length; i++) {
                    if (res[i].name == "项目审核") {
                        for (var j = 0; j < res[0].nodeTasks.length; j++) {
                            var zijiedian = {};
                            zijiedian.name = res[0].nodeTasks[j].title;
                            vm.fenjiebao[0].yvan.push(zijiedian);
                        }
                    }
                }
                console.log(vm.fenjiebao);
            });
        });

        // 封装在fenjiebao哪个下标的数组里面添加yvan数组
        var addyvan = function (indexi, jieduanname) {
            api.node.getWorkNodes({projecttype: 1}, function (res) { // projecttype : 项目类别
                console.log(res);
                for (var i = 0; i < res.length; i++) {
                    if (res[i].name == jieduanname) {
                        for (var j = 0; j < res[i].nodeTasks.length; j++) {
                            var zijiedian = {};
                            zijiedian.name = res[i].nodeTasks[j].title;
                            vm.fenjiebao[indexi].yvan.push(zijiedian);
                        }
                    }
                }
            });
        };

        // 提交保存事件监听
            // 定义保存分解包接口
        var saveMachineDuty = {};
        saveMachineDuty.dutys = [];
        form.on('submit(formAddTasknodes)', function (data) {

            console.log(data.field);
            console.log(vm.person);

            var saveMachineDutyObj = {};
            saveMachineDutyObj.duty = null;
            saveMachineDutyObj.dutyname = dutyname;
            saveMachineDutyObj.personid = null;
            saveMachineDutyObj.projectid = blId; // 项目ID
            saveMachineDutyObj.machineid = machineid; // 机型ID
            console.log(saveMachineDutyObj);
            saveMachineDuty.projectid = blId; // 项目ID
            saveMachineDuty.machineid = machineid; // 机型ID
            return false;
        });

        // 刷新显示事件监听
        form.on('submit(formReflash)', function (data) {

            console.log(data.field);
            alert("asd");
            console.log(vm.item1.name);
            return false;
        });
    });
</script>

</body>

</html>